<div class="row">
  <div class="col">
    <h1>{{myClickedRecipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>{{myClickedRecipe.description}}</p>
  </div>
</div>

<div class="row">
    <div class="col">
      <span class="float-left">
          <img src="{{myClickedRecipe.imagePath}}" alt="" class="img-responsive" style="max-height: 200px;">
        </span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ing of myClickedRecipe.ingredients">{{ing.name}} - {{ing.amount}}</li>
      </ul>
    </div>
  </div>

<div class="row">
  <div class="col">
    <button class="btn btn-primary" type="button" (click)="onClickEditRecipe()">Edit recipe</button>
    <button class="btn btn-primary" type="button" (click)="onDeleteRecipe()">Delete recipe</button>
    <button class="btn btn-primary" type="button" (click)="addtoShoppingList()">Add to Shopping List</button>
  </div>
</div>